.header {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 4em 3em;

  &__logo {
    margin-right: auto;
    z-index: 10;
    &--hidden {
      display: none;
    }
  }
}
.burger-icon {
  margin-right: auto;
  cursor: pointer;
  z-index: 10;
  &--hidden {
    display: none;
  }
}
.close-icon {
  display: none;
  &--visible {
    display: block;
    cursor: pointer;
    z-index: 10;
  }
}
