// .burger-icon {
//   display: none;
// }
.header {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 4em 3em;

  &__logo {
    margin-right: auto;
    z-index: 10;
  }
}
.burger-icon {
  margin-right: auto;
  cursor: pointer;
  z-index: 10;
}
