.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: 1125px) {
    flex-direction: row;
  }
  &__image {
    min-height: 360px;
    width: 100%;
    height: 100%;
  }
  &__info {
    width: 100%;
    position: relative;
    padding: 5em 2.2em;

    @media (min-width: 768px) {
      padding: 8em 6em;
    }
    @media (min-width: 1125px) {
      padding: 8em 1em;
    }

    @media (min-width: 1400px) {
      position: relative;
      padding: 12em 8.5em 8em;
    }

    &-title {
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1;
      @media (min-width: 768px) {
        font-size: 2.4rem;
        font-weight: 600;
      }
      @media (min-width: 1400px) {
        font-size: 2.4rem;
      }
    }
    &-description {
      padding: 1.2em 0 2.2em 0;
      font-size: 1rem;
      color: $DarkGray;
      line-height: 1.3;
      @media (min-width: 1125px) {
        padding-bottom: 1em;
      }
      @media (min-width: 1400px) {
        font-size: 1.1rem;
      }
    }
    &-arrowIcon {
      width: 40px;
      height: auto;
      text-decoration: none;
      color: $Black;
      font-weight: 600;
      font-size: 0.9rem;
      letter-spacing: 1em;
      transition: 0.2s;
      &:hover {
        color: $DarkGray;
      }
      img {
        display: inline-block;
      }
    }
  }
  &__button-container {
    position: absolute;
    display: flex;
    right: 0;
    top: -55px;
    @media (min-width: 1125px) {
      position: absolute;
      left: 0;
      top: 454px;
    }

    .button-prev-page,
    .button-next-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $Black;
      color: $White;
      height: 55px;
      width: 55px;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      @media (min-width: 1125px) {
        height: 80px;
        width: 80px;
      }
      svg {
        height: 3em;
        width: 2em;
      }
    }
    .button-prev-page:hover,
    .button-next-page:hover {
      background-color: $VeryDarkGray;
    }
  }
}
