.nav {
  background-color: $White;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: -12rem;
  left: 0;
  background-color: $White;
  width: 100%;
  transition: 0.3s ease-in-out;
  z-index: 8;
  &__visible {
    top: 0;
  }

  &__list {
    display: flex;
    list-style: none;
    margin-right: 1em;
  }
  &__item {
    text-align: center;
    margin: 0 0.5em;
  }
  &__link {
    display: block;
    text-decoration: none;
    color: $Black;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0.5em;
  }
}
